<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit Blog</title>
</head>
<body>
<h2>Submit Your Blog</h2>
<form action="/submit" method="post" th:object="${blogEntry}">
    <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" th:field="*{author}">
    </div>
    <div>
        <label for="text">Text:</label>
        <textarea id="text" name="text" th:field="*{text}"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>
